# Distribution file for the Nintendo Wii Demo project.
# http://www.openengine.dk/wiki/Projects/wiiDemo

dist /extensions/Assimp/Assimp.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-Assimp/master/Assimp.dist

# main repository
git / https://github.com/OpenEngineDK/branches-wii-main.git
git / https://github.com/OpenEngineDK/openengine.git
git-dev / git@github.com:OpenEngineDK/branches-wii-main.git

# project repository
# (uncomment the following two lines after uploading your project)
git /projects/wiiDemo https://github.com/OpenEngineDK/projects-wiiDemo.git
git-dev /projects/wiiDemo git@github.com:OpenEngineDK/projects-wiiDemo.git

# required extensions
git /extensions/TGAResource            https://github.com/OpenEngineDK/extensions-TGAResource.git
git /extensions/AccelerationStructures https://github.com/OpenEngineDK/extensions-AccelerationStructures.git
git /extensions/Wii                    https://github.com/OpenEngineDK/extensions-Wii.git
git /extensions/MeshUtils              https://github.com/OpenEngineDK/extensions-MeshUtils.git

git-dev /extensions/TGAResource            git@github.com:OpenEngineDK/extensions-TGAResource.git
git-dev /extensions/AccelerationStructures git@github.com:OpenEngineDK/extensions-AccelerationStructures.git
git-dev /extensions/Wii                    git@github.com:OpenEngineDK/extensions-Wii.git
git-dev /extensions/MeshUtils              git@github.com:OpenEngineDK/extensions-MeshUtils.git

# windows libraries

# darwin libraries

# linux libraries

# project data

